<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">

    <label for="name">Enter name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <hr/>

    <label for="lastName">Enter lastName</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <hr/>

    <label for="age">Enter age</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <hr/>

    <input type="submit" value="UpdateUser  "/>
</form>

</body>
</html>